In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [3]:
# Load the dataset
data = pd.read_csv('medium_data.csv')

In [5]:
# Inspect the dataset
data.head()

,id,url,title,subtitle,claps,responses,reading_time,publication,date
0,1,https://towardsdatascience.com/not-all-rainbow...,Not All Rainbows and Sunshine: The Darker Side...,Part 1: The Risks and Ethical Issues…,453.0,11,9,Towards Data Science,27-01-2023
1,2,https://towardsdatascience.com/ethics-in-ai-po...,Ethics in AI: Potential Root Causes for Biased...,An alternative approach to understanding bias ...,311.0,3,12,Towards Data Science,27-01-2023
2,3,https://towardsdatascience.com/python-tuple-th...,"Python Tuple, The Whole Truth and Only the Tru...",NaN,188.0,0,24,Towards Data Science,27-01-2023
3,4,https://towardsdatascience.com/dates-and-subqu...,Dates and Subqueries in SQL,Working with dates in SQL,15.0,1,4,Towards Data Science,27-01-2023
4,5,https://towardsdatascience.com/temporal-differ...,Temporal Differences with Python: First Sample...,NaN,10.0,0,13,Towards Data Science,27-01-2023

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2498 non-null   int64
 1   url           2498 non-null   object
 2   title         2498 non-null   object
 3   subtitle      2073 non-null   object
 4   claps         2423 non-null   float64
 5   responses     2498 non-null   int64
 6   reading_time  2498 non-null   int64
 7   publication   2498 non-null   object
 8   date          2498 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 175.8+ KB

In [7]:
# Select features and target
features = ['responses', 'reading_time', 'publication']
target = 'claps'

# Handle missing values (if any)
data = data[features + [target]].dropna()

# Separate numerical and categorical columns
numerical_features = ['responses', 'reading_time']
categorical_features = ['publication']

# Scale numerical features
scaler = StandardScaler()
data[numerical_features] = scaler.fit_transform(data[numerical_features])

# One-hot encode categorical feature
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_cats = encoder.fit_transform(data[categorical_features])
encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_features))

# Combine numerical and encoded categorical features
X = pd.concat([data[numerical_features].reset_index(drop=True), encoded_cats_df.reset_index(drop=True)], axis=1)
y = data[target].values

In [8]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set shape: {X_train.shape}")
print(f"Testing set shape: {X_test.shape}")

Training set shape: (1938, 6)
Testing set shape: (485, 6)